<!doctype html>
<html lang="en">
<head>
    <title>Bundles 2.0 Demo Repo</title>
    <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/css/pure-min.css">
    <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/css/side-menu.css">
    <link rel="stylesheet" href="/__xpr__/pub_engine/{{xpr.bundle}}/web/css/devon-custom.css">
</head>
<body>

<div id="layout">

    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Bundles 2.0</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#xpr-context" class="pure-menu-link">XPR Context</a></li>
                <li class="pure-menu-item"><a href="#about-element" class="pure-menu-link">About Element</a></li>
                <li class="pure-menu-item"><a href="#attached-data" class="pure-menu-link">Attached Data</a></li>
                <li class="pure-menu-item"><a href="#context-passing" class="pure-menu-link">Context Passing</a></li>
                <li class="pure-menu-item"><a href="#element-options" class="pure-menu-link">Element Options</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Bundles 2.0 Demo Repo</h1>
            <h2>"Imagination will often carry us to worlds that never were. But without it we go nowhere" - Carl Sagan
        </div>

        <div class="content">
            <h2 id="xpr-context" class="content-subhead">XPR Context</h2>
            {{=<% %>=}}
            <p> Demonstrates using <code>{{XprJson}}</code> helper to dump the <code>xpr</code> variable</p>
            <%={{ }}=%>
            <div class="demo-code">
            <code>
            {{XprJson xpr}}
            </code>
            </div>

            <h2 id="about-element" class="content-subhead">About Element</h2>
            {{=<% %>=}}
            <p> Demonstrates using <code>{{{XprElement}}}</code> to pull in an element</p>
            <%={{ }}=%>
            {{{XprElement bundlePath="about"}}}


            <h2 id="attached-data" class="content-subhead">Attached Data</h2>
            <p>
                This element is in <code>xpr/element/template.hbs</code> and it's configuration exists in <code>xpr/element_config/template.json</code>. Note that configurations have the same path as their element, with only the root folder changing from <code>element</code> to <code>element_config</code>.
            </p>

            <p>An element's configuration includes the datasources attached, and any options to configure those datasources. In the case of this <code>template</code> element, we have a datasource attached which uses the <code>datasource/articles_by_section.json</code> datasource to populate the variable <code>PageArticles</code> for this element.

            <h3>Example of Dynamic Article Data</h3>
            {{=<% %>=}}
            <code>
            {{#each PageArticles}}
                <li>{{Title}}</li>
            {{/each}}
            </code>
            <%={{ }}=%>
            <ul>
            {{#each PageArticles}}
            <li>{{Title}}</li>
            {{/each}}
            </ul>


            <h2 id="context-passing" class="content-subhead">Context Passing</h2>
            <p>
                Elements can have data from the <code>root</code> or <code>parent</code> context passed into them to be rendered. Here we are going to loop over the same data as in the Attached Data context, but instead of rendering each article inline, pass the article to a sub element for rendering.
            </p>
            <p>
            {{=<% %>=}}
            <code>
            {{#each PageArticles}}
                {{{XprElement bundlePath="details/article_details" context.Article=this}}}
            {{/each}}
            </code>
            <%={{ }}=%>
            </p>



            {{#each PageArticles}}
            {{{XprElement bundlePath="details/article_details" context.Article=this}}}
            {{/each}}

            <h2 id="element-options" class="content-subhead">Element Options</h2>
            <p>
                "Sub" Elements can also have their own datasources attached. While it is usually better to "fetch up front and pass down", sometimes you want an element which controls and fetches its own data. Here we demonstrate an element which will fetch an article based on Id, and we will use the <code>PageArticles</code> variable from the previous example to supply the list of Ids.
            </p>
            <p>
            {{=<% %>=}}
            <code>
            {{#each PageArticles}}
                {{{XprElement bundlePath="details/article_details_fetching" options.ArticleId=this.Id}}}
            {{/each}}
            </code>
            <%={{ }}=%>
            </p>
            {{#each PageArticles}}

            
            {{{XprElement bundlePath="details/article_details_fetching" options.ArticleId=this.Id}}}
            {{/each}}



        </div>
    </div>
</div>

<script src="/__xpr__/pub_engine/{{xpr.bundle}}/web/js/ui.js"></script>
</body>
</html>
